body{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:100vh;
}

#btn {
    padding:12px 24px;
    font-size: 18px; 
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    background-color: #007BFF; 
    color: white;
    border: none; 
    border-radius: 8px; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    cursor: pointer; 
}
#btn:hover {
  background-color: #0056b3; 
  transform: scale(1.05);   
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.25); 
}
#cpy-btn {
    margin-top: 40px;
    padding:12px 24px;
    font-size: 18px; 
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    background-color: #0a0d10; 
    color: white;
    border: none; 
    border-radius: 8px; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    cursor: pointer; 
}
#cpy-btn:hover {
   
  background-color: #63676c; 
  transform: scale(1.05);   
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.25); 
}
